.App {
  font-family: Arial, sans-serif;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

label {
  margin-bottom: 5px;
}

input {
  padding: 8px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}

.clusters-container {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.cluster {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  width: 30%;
  margin-bottom: 20px;
}

.cluster h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.cluster ul {
  list-style-type: none;
  padding: 0;
}

.cluster li {
  margin-bottom: 5px;
}

.maps{
  width: 80%;
  height: 400px; /* Adjust height as needed */
  margin: 0 auto; /* Center the map container horizontally */
  position: relative;
  border: 1px solid black;
}