body {
  font-family: Arial, sans-serif;
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0; 
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.logo {
  width: 100%;
  text-align: left;
}

.logo img {
  width: 150px;
  height: 150px;
  margin-bottom: 20px;
}

.map_form {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 20px; /* Space between form and map */
}



form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

label {
  margin-bottom: 5%;
  margin-top: 6%;
}

input {
  padding: 8px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}

.clusters-container {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.cluster {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  width: 30%;
  margin-bottom: 20px;
}

.cluster h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.cluster ul {
  list-style-type: none;
  padding: 0;
}

.cluster li {
  margin-bottom: 5px;
}


.maps {
  width: 60%;
  height: 100%;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

/* Media query for responsiveness */
@media (max-width: 768px) {
  .map_form {
    flex-direction: column;
    gap: 0; /* Remove gap for vertical layout */
  }

  .form_container, .map_container {
    width: 100%;
  }

  .maps {
    height: 300px; /* Adjust height for smaller screens */
  }
}
